body {
  padding: 100px;
  font-family: sans-serif;
}

input {
  padding: 10px;
  margin: 10px;
  border: solid black 1.5pt;
}

.tweet {
  margin: 10px;
  padding: 10px;
  border: solid black 1pt;
}

.search-tweet-btn {
  background-color: white; 
}